{% extends "../../layouts/default.twig" %}

{% block content %}
<div class="fw-page-builder-content">
	<section class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
		<div class="fw-container">
			<div class="fw-row">
				<div class="fw-col-sm-12 ">
					<div class="fw-main-row-overlay"></div>
					<div class="fw-col-inner">
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
						<div class="fw-heading fw-heading-left">
								<h1 class="fw-big-title">404 <span>Not Found</span></h1>
						</div>
						<div class="fw-text-box">
								<div class="fw-text-inner">
										<p>Sorry, the page you requested can't be found.</p>
								</div>
						</div>
						<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
