.fw-col-inner {
    box-shadow: none;
}
@media only screen and (max-width: 767px) {
    .tf-sh-aa6f903c66df69300829385f4c506527 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
.tf-sh-71ce5f82fad424e85071cdf7e4a2a67b .fw-special-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    font-size: 36px;
    letter-spacing: 0px;
    color: #ffffff;
}
@media(max-width:767px) {
    .tf-sh-71ce5f82fad424e85071cdf7e4a2a67b .fw-special-title {
        font-size: 25px;
        line-height: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-c456b5c879e30f169ad72e6560359d03 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
.tf-sh-d0faa763b4561404f838d21c2c640562 .fw-text-inner {
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 0px;
    color: #ffffff;
}
@media(max-width:767px) {
    .tf-sh-d0faa763b4561404f838d21c2c640562 .fw-text-inner {
        font-size: 22px;
        line-height: 27px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-91c11a551da59d91ee877125113b6af5 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
.tf-sh-fba9d8ba6590739635b789f645be165d .fw-text-inner {
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 0px;
    color: #ffffff;
}
@media(max-width:767px) {
    .tf-sh-fba9d8ba6590739635b789f645be165d .fw-text-inner {
        font-size: 22px;
        line-height: 27px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-5d76f65fa215a8888076cfd4f8bc8e4f .fw-col-inner {
        padding: 15px 0px 0px 0px;
    }
}
.tf-sh-9860d65cad1be2458a24c3f8c18de34b .fw-text-inner {
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 0px;
    color: #ffffff;
}
@media(max-width:767px) {
    .tf-sh-9860d65cad1be2458a24c3f8c18de34b .fw-text-inner {
        font-size: 22px;
        line-height: 27px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-59909b4a7c3af15553b3c562a92c7035 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-506b5b4e4aa6ce91f67ab75550ec84ff .fw-col-inner {
        padding: 0px 15px 0px 15px;
    }
}
.tf-sh-e28f13e7ebd687f39c3a57c57f1b4937 .fw-col-inner {
    padding: 0px 20px 0px 0px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tf-sh-e28f13e7ebd687f39c3a57c57f1b4937 .fw-col-inner {
        padding: 0px 20px 0px 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tf-sh-e28f13e7ebd687f39c3a57c57f1b4937 .fw-col-inner {
        padding: 0px 20px 0px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-e28f13e7ebd687f39c3a57c57f1b4937 .fw-col-inner {
        padding: 0px 15px 0px 15px;
    }
}
.tf-sh-dff04a5762e223b1c2087034568a05c8 .fw-special-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0px;
    color: #2d4650;
}
@media only screen and (max-width: 767px) {
    .tf-sh-59909b4a7c3af15553b3c562a92c7035 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-59909b4a7c3af15553b3c562a92c7035 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .tf-sh-59909b4a7c3af15553b3c562a92c7035 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
.tf-sh-8d69d4cdddfb375c3fefdac470ed6273 .fw-col-inner {
    padding: 0px 50px 0px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tf-sh-8d69d4cdddfb375c3fefdac470ed6273 .fw-col-inner {
        padding: 0px 50px 0px 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tf-sh-8d69d4cdddfb375c3fefdac470ed6273 .fw-col-inner {
        padding: 0px 50px 30px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-8d69d4cdddfb375c3fefdac470ed6273 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}
@media only screen and (max-width: 767px) {
    .tf-sh-59909b4a7c3af15553b3c562a92c7035 .fw-col-inner {
        padding: 0px 0px 0px 0px;
    }
}