
/* titles */
.fw-big-title {
	font: inherit;
    font-weight: 300;
    line-height: 65px;
    font-size: 52px;
    letter-spacing: -1px;
    color: #1e414e;
}

.fw-big-title > span {
	font-weight: 900;
}

.fw-small-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    font-size: 36px;
    letter-spacing: -1px;
    color: #1e414e;
}

/* body text */
body,.fw-text-inner {
	font-family: Lato;
	font-size: 17px;
	line-height: 36px;
	font-weight: 400;
    letter-spacing: 0px;
}

.fw-subheader{
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	font-size: 18px;
	letter-spacing: -0.5px;
	color: #c1c1c1;
}

.quote-block{
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	line-height: 46px;
	font-size: 36px;
	letter-spacing: 0px;
	color: #49ca9f;
}

.program-wrapper .program{
	margin-bottom: 30px;
	position: relative;
}

.program > .fw-col-inner{
	height: 100%;
}

.read-more{
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -51px;
	width: 102px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 13px !important;
}

.program-wrapper .program{
	padding-left: 5px;
}
.program-wrapper .program-img{
	padding-right: 5px;
}

.purple-btn{
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 46px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
	background-color: #8224e3;
}
.purple-btn:hover{
	background: #000;
	color: #fff;
}

.purple-btn-sm{
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #1e414e;
	background-color: #8224e3;
}
.purple-btn-sm:hover{
	background: #000;
	color: #fff;
}

.line-btn {
	border-color: #1b3039;
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
.line-btn:hover{
	background-color: #8224e3;
    border-color: #8224e3;
	color: #1e414e;
}

.line-btn-sm {
	border-color: #1b3039;
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
.line-btn-sm:hover{
	background-color: #8224e3;
    border-color: #8224e3;
	color: #1e414e;
}

.program-brief{
	height: 120px;
}

.program-brief > p{
	font-style: normal !important;
}

.center-cropped {
	overflow: hidden;
	position: relative;
}

.center-cropped > .inner {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
	min-height: 1px;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.center-cropped:not(.no-zoom) > .inner:hover{
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.center-cropped img {
	min-height: 100%;
	min-width: 100%;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* modern browsers */
	opacity: 0;
}

.postlist .post:hover{
	cursor: pointer;
}

.postlist .post:hover .entry-title a{
	color: #49CA9F !important;
}

.scrolloff iframe   {
    pointer-events: none ;
}

.bugfix{
	padding-top: 4px;
}

.approach-video iframe{
	height: 437px;
	width: 832px;
}

.fw-underline-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    font-size: 30px;
    letter-spacing: -1px;
    color: #1e414e;
	border-bottom: 1px solid;
}

.bio-heading{
	margin-top: 0px;
	line-height: 28px;
	vertical-align: top;
	padding-bottom: 10px;
	font-weight: 300;
}

.bio .portrait{
	margin: 0 auto;
	display: block;
	width: 300px;
	height: auto;
}

.bio .name{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    font-size: 24px;
    letter-spacing: 0px;
    color: #1e414e;
	text-align: center;
	padding: 5px 10px;
}

.bio .name span{
	font-weight: 300;
}

.bio .title{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    font-size: 15px;
    letter-spacing: 0px;
    color: #1e414e;
	text-align: center;
	padding: 5px 10px;
}

.bio .email{
	font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #1e414e;
	text-align: center;
	padding: 5px 10px;
}